{% extends "base.html" %} {% block title %}Fibonacci Numbers{% endblock %} {%
block content %}
<h1>Fibonacci App</h1>

<form method="POST">
  <div class="form-group">
    <label for="number"
      >How many Fibonacci numbers do you want? (max 100)</label
    >
    <input
      type="number"
      class="form-control"
      id="number"
      name="number"
      value="2"
      style="width: 300px"
    />
  </div>
  <button type="submit" class="btn btn-primary">Generate</button>
</form>
<br />
<div>
  {% if results %}
  <h2>Fibonacci Numbers:</h2>
  <br />
  <div id="results">
    {% for result in results %}
    <li class="list-group-item"  style="width: 300px">{{ result }}</li>
    {% endfor%}
  </div>
  {% endif %}
</div>

{% endblock%}
